.main {
  border: 5px solid red;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 0 20px;

  img {
    flex: 1;
    display: block;
    max-width: 100%;
    min-width: 0;
    height: auto;
    object-fit: contain;
  }
}

.info {
  flex: 1;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  h1 {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 700;
    font-size: 90px;
    color: #205691;
    max-width: 45rem;
  }

  p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #205691;
    max-width: 45rem;
  }

  button {
    max-width: 332px;
    padding: 20px 0;
    background-color: #fd7267;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: "Source Sans 3", sans-serif;
    font-size: 24px;
    font-weight: 600;
  }
}

.infoDados {
  display: flex;
  justify-content: space-between;
  border: 2px solid green;

  h2,
  h3 {
    color: #205691;
    text-align: center;
  }

  h2 {
    font-family: "Source Sans 3", sans-serif;
    font-size: 50px;
    font-weight: 700;
  }

  h3 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
    height: auto;

    img {
      max-width: 522px;
    }
  }
}
