.main {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  section {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 900px;

    img {
      width: 300px;
      border: 5px solid #00aaff;
      border-radius: 50%;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 15px;

      li {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
      }
    }
  }
}

.div {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .head h2 {
    font-size: 16px;
    font-weight: 500;
    color: #278733;
  }
}

.skills {
  li {
    background-color: #d4e7d6;
    color: #278733;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 10px;
  }
}

@media (max-width: 900px) {
  .main {
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0 20px;

      p {
        max-width: 350px;
      }

      img {
        width: 250px;
      }

      .infos {
        flex-direction: column;
      }
    }
  }

  .skills {
    flex-direction: row;
    justify-content: center;

    li {
      font-size: 12px;
      padding: 2px 10px;
    }
  }
}

@media (max-width: 340px) {
  .main {
    height: 170vh;
    section {
      img {
        width: 200px;
      }

      ul {
        flex-direction: column;
      }
    }
  }
}
